* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --github-linkin-icon: rgb(195 191 201);
  --img-border: linear-gradient(#00ccff, #d400d4);
  --hover-btm-border: #ff4500;
  --subject-title: rgba(0, 0, 255, 0.525);
  --footer-color: #232325;
  --footer-text: #fff;
  --build-with-projects: rgba(0, 0, 0, 0.45);
}
body {
  font-family: "Poppins", sans-serif, Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease-in-out;
}
.dark-mode-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.dark-mode-btn {
  padding: 0.5rem;

  border-radius: 10px;
  /* border: 0.2rem solid black; */
  background-color: white;
  height: 3rem;
  font-size: 1.2rem;
}
.dark-mode {
  background-color: #232325;
  color: #ffffff;
}
.dark-mode .nav-container {
  background-color: white;
  color: #fff;
}
html {
  scroll-behavior: smooth;
  max-width: 2000px;
  margin-right: auto;
  margin-left: auto;
}
.pgarza-dev {
  position: fixed;
  display: flex;
  top: 0;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 3;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
}
/* HAMBURGER MENU */
.nav-link {
  transition: 0.7s ease;
  color: black;
  text-decoration: none;
}
.nav-link:hover {
  border: 1px solid white;
  color: black;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.2rem;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
/* HAMBURGER MENU MQ */
@media (max-width: 740px) {
  .hamburger {
    display: block;
    padding: 1.5rem;
  }
  /* used :nth-child() to target specific child elements based on their position */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-li {
    position: fixed;
    left: -100%;
    top: 38px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-anchors,
  .contact-nav-anchor {
    margin: 16px 0;
  }
  .nav-li.active {
    left: 0;
  }
}

.nav-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0px;
  padding: 1rem;
  background: white;
  height: 60px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.679);
}
.nav-container h4 {
  font-size: 1.2rem;
}
.nav-li,
.contact-nav-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 23.2rem;
}
.nav-li a,
.contact-nav-li a,
.nav-li button {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1rem;
  z-index: 1;
}
.nav-li a::after {
  content: "";
  position: absolute;
  background-color: var(--hover-btm-border);
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}
.contact-nav-li a::after {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
  z-index: -1;
}
.return-home-link a {
  position: relative;
  color: var(--footer-text);
  font-size: 1.2rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1rem;
  z-index: 1;
  margin-bottom: 1rem;
}

.return-home-link a::after {
  content: "";
  position: absolute;
  background-color: var(--hover-btm-border);
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
}
.return-home-link a:hover::after {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.nav-li a:hover,
.contact-nav-li a:hover,
.return-home-link a:hover {
  transition: 0.5s;
}
.nav-li a:hover:after {
  width: 100%;
}
.contact-nav-li a:hover:after {
  width: 100%;
}
.contact-nav-li a:hover {
  color: black;
}

.fa-linkedin-in,
.fa-github,
.fa-arrow-up-right-from-square {
  position: relative;
  /* color: rgb(0, 0, 0); */
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 2rem;
}
.fa-linkedin-in:hover {
  color: white;
  background-color: var(--hover-btm-border);
}
.fa-github:hover {
  background-color: var(--hover-btm-border);
  color: white;
}
.fa-arrow-up-right-from-square:hover {
  color: white;
  background-color: var(--hover-btm-border);
}
.link-text,
.link-text-rainydays {
  color: white;
  text-decoration: none;
}

.link-text:hover {
  color: var(--hover-btm-border);
}
.link-text-rainydays:hover {
  color: var(--hover-btm-border);
}
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  height: 90vh;
  flex-wrap: wrap;
  margin-top: 60px;
}
.intro-title {
  font-size: 3rem;
  border-bottom: 4px solid var(--hover-btm-border);
  line-height: 5rem;
}
.about-me {
  width: 450px;
  text-align: justify;
  line-height: 3rem;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}
.linkedin-github-icons {
  color: var(--github-linkin-icon);
}
.linkedin-github-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.linkedin-github-div p {
  display: none;
}
.intro-paragraphs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.cta-font {
  font-size: 8rem;
}
.cta-btn {
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid var(--hover-btm-border);
}
.cta-btn:hover {
  background-color: var(--hover-btm-border);
  color: white;
}
.icon-container p {
  font-size: 1.8rem;
}
.contact-links {
  margin-top: 15px;
  color: black;
}
.contact-links > a {
  padding-right: 10px;
  color: black;
}
.fa-xl {
  color: rgb(65, 65, 255);
}
.fa-html5 {
  color: red;
}
.fa-square-js {
  color: orange;
}
.logo-img {
  width: 4rem;
  height: 3rem;
}
.icon-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 42rem;
  align-items: center;
  margin: 4rem auto 0 auto;
  justify-content: space-between;
}
.vs-code-img {
  height: 2rem;
  width: 2rem;
}
.intro-container {
  display: flex;
  gap: 3em;
  margin-top: 1em;
}
.img-border {
  position: relative;

  /* background: blue; */
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-border::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 180%;
  background: var(--img-border);
  animation: animate 4s ease-in-out infinite;
  animation: fade 4s ease-in-out infinite;
}
/* .img-border::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: white;
  border-radius: 16px;
} */
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
    background: linear-gradient(#00ccff4a, #d400d429);
  }
}
@keyframes fade {
  0% {
    transform: rotate(0deg);
    background: linear-gradient(#00ccff4a, #d400d429);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.img-border img {
  position: relative;
  z-index: 1;
  width: 22rem;
  height: 37rem;
  border-radius: 20px;
}
.my-photo {
  width: 50%;
  height: 16rem;
  aspect-ratio: 3/2;
  object-fit: revert;
  border-radius: 10px;
  padding: 0.2rem;
}
.scroll-down-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll-down-icon > a {
  color: white;
  text-decoration: none;
  font-style: italic;
  font-size: 1.5rem;
}
.fa-icon-spacing {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2.5rem;
}

/* ABOUT ME SECTION */
.myself-section {
  display: flex;
  flex-flow: column wrap;
  max-width: 500px;
  font-size: 1.2rem;
  flex-direction: column;
  gap: 1rem;
  line-height: 2rem;
  text-align: justify;
}
#about-me {
  padding-top: 60px;
}
.about-me-img {
  width: 25rem;
  /* height: 100%; */
  border-radius: 50%;
}
.myself-container,
.portifolio-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin: 1rem auto;
  background-color: #37739d47;
  padding: 3rem;
}
.portifolio-title {
  /* margin-top: 8rem; */
  font-size: 5.5rem;
  text-decoration: underline;
  text-decoration-color: var(--hover-btm-border);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.portifolio-title h3 {
  margin-bottom: 1rem;
}
.subject-title {
  color: var(--hover-btm-border);
}
.subject-description {
  font-size: 2rem;
}
.myself-section p::before {
  content: open-quote;
  font-size: 2.5em;
  color: red;
}
.myself-section p::after {
  content: close-quote;
  font-size: 1.5rem;
  color: red;
}
.contact-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.contact-button:hover {
  background-color: var(--hover-btm-border);
  color: white;
}
.href-contact-anchor {
  text-decoration: none;
}

/* PROJECTS SECTION */
.project-img {
  width: 25rem;
  border: 0.2rem solid rgba(243, 243, 243, 0);
}
.project-img:hover {
  border: 0.2rem solid rgba(243, 243, 243, 0.278);
  box-shadow: none;
}
.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  line-height: 2rem;
  font-size: 1.2rem;
  gap: 0.5rem;
  justify-content: center;
}

/* CONTACT SECTION */
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 22px;
  background-color: var(--footer-color);
  height: 10rem;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.programs-used {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.footer-links,
.contact-links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.fa-paper-plane,
.fa-map-location-dot {
  padding: 15px 10px 0px 0px;
  color: var(--hover-btm-border);
  font-size: 1.5rem;
}
.email-link {
  color: black;
  text-decoration: none;
}
.contact-container i {
  color: var(--hover-btm-border);
  padding: 0.5rem;
}
.contact-container i:hover {
  color: white;
  background-color: var(--hover-btm-border);
  border-radius: 10px;
}
.contact-container a {
  color: var(--footer-text);
  text-decoration: none;
}
.contact-nav-li::after {
  content: "";
  position: absolute;
  background-color: var(--hover-btm-border);
  height: 40px;
  width: 0px;
  left: 0;
  bottom: 0px;
  transition: 0.3s;
  z-index: -1;
}
.footer-title {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.created-by,
.message-for-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 5rem;
  background-color: var(--footer-color);
  color: var(--footer-text);
  border-top: 0.1rem solid white;
}
.scroll-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* CONTACT PAGE */
.contact-page-bg-color {
  background-color: var(--footer-color);
}
.contact-title {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--footer-text);
  border-bottom: 0.5rem solid var(--hover-btm-border);
}

.message-for-contact {
  color: var(--footer-text);
  font-size: 2rem;
}
.return-home-link {
  text-decoration: none;
  color: var(--footer-text);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  font-style: italic;
}
.form-submited-message {
  display: none;
}
.contact-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  margin: 0px auto 0px auto;
  padding: 0 50px 80px 50px;
  max-width: 1024px;
  background-color: var(--footer-color);
}
.input-field {
  width: 30rem;
  height: 2.5rem;
  font-style: italic;
}
.input-field:focus {
  outline: none;
  border: 0.15rem solid var(--hover-btm-border);
}
.textarea-field {
  width: 30rem;
  height: 10rem;
  font-style: italic;
}
.textarea-field:focus {
  outline: none;
  border: 0.15rem solid var(--hover-btm-border);
}
.submit-message-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 3rem;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.submit-message-btn:focus {
  outline: none;
}
.submit-message-btn:hover {
  background-color: var(--hover-btm-border);
  color: white;
}
.form-error {
  display: none;
  color: white;
}
.success-message {
  display: none;
  color: white;
  font-size: 3rem;
}

/* I have set some media querys to adjust for different screen sizes
I have used rem becuase it is a relative size unit for the document font size.
I have used em units at break points to calculat screen size divided by browser font size. */

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 100%;
  }
}

/* 980px / 16px  */
@media (max-width: 61.25em) {
  html {
    font-size: 60%;
  }
}

/* 760px / 16px */
@media (max-width: 47.5em) {
}

/* 460px / 16px */
@media (max-width: 28.75em) {
}

/* 400px / 16px */
@media (max-width: 425px) {
  .welcome-container {
    /* height: 100vh; */
    flex-direction: row;
    /* margin: 14rem auto; */
    position: relative;
  }
  .intro-paragraphs {
    align-items: center;
  }
  .img-border img {
    width: 13rem;
    height: 23rem;
  }
  .intro-container {
    display: flex;
    gap: 3em;
    margin-top: 1em;
    flex-direction: column;
  }
  .intro-title {
    font-size: 1.5rem;
    width: 100%;
  }
  .about-me {
    width: 100%;
    padding: 0 1em;
  }
  .about-me-img {
    width: 80%;
    height: 20%;
  }
  .myself-container,
  .portifolio-section {
    flex-direction: column;
    padding: 1em;
    /* margin: 0px auto 165px auto; */
  }
  .mobile-centered {
    display: flex;
    justify-content: center;
  }
  .project-img {
    width: 100%;
    height: 20%;
  }
  .contact-links {
    padding: 0 2em;
  }
  .icon-container {
    width: 100%;
  }
  .img-border {
    width: auto;
    margin: 0 auto;
    border-radius: 0.5em;
  }
  .pgarza-dev {
    padding: 3rem;
  }
  .portifolio-title {
    padding: 0px 0px 0px 0px;
    font-size: 1.5rem;
    margin: 1rem;
    line-height: 3rem;
  }
  .contact-title {
    font-size: 2rem;
  }
}

/* 375px / 16px iPhone 6/7/8/X */
@media (max-width: 23.43em) {
}

/* 360px / 16px Moto G4/Galaxy S5 */
@media (max-width: 23.43em) {
}

/* 320px / 16px iPhone 5/SE */
@media (max-width: 22.5em) {
}
