* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --img-border: linear-gradient(#00ccff, #d400d4);
  --hover-btm-border: orangered;
  --subject-title: rgba(0, 0, 255, 0.525);
}
body {
  font-family: 'Poppins' 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}
html {
  scroll-behavior: smooth;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

.nav-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  right: 0px;
  padding: 20px 50px;
  background: white;
  z-index: 11;
  height: 60px;
  width: 100%;
  justify-content: space-between;
}
.nav-container h4 {
  font-size: 1.2rem;
}
.nav-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 25rem;
}
.nav-li a {
  position: relative;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1rem;
}
.nav-li a::after {
  content: '';
  position: absolute;
  background-color: var(--hover-btm-border);
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0px;

  transition: 0.3s;
}
.nav-li a:hover {
  transition: 0.5s;
}
.nav-li a:hover:after {
  width: 100%;
}
.fa-linkedin-in,
.fa-github,
.fa-arrow-up-right-from-square {
  position: relative;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 2rem;
}
.fa-linkedin-in:hover {
  color: white;
  background-color: var(--hover-btm-border);
}
.fa-github:hover {
  background-color: var(--hover-btm-border);
  color: white;
}
.fa-arrow-up-right-from-square:hover {
  color: white;
  background-color: var(--hover-btm-border);
}
.link-text,
.link-text-rainydays {
  color: rgba(0, 0, 0, 0.45);
  text-decoration: none;
}
.link-text:hover {
  color: black;
}
.link-text-rainydays:hover {
  color: var(--hover-btm-border);
}

/* .nav-anchors {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
} */

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  text-align: center;
  font-size: 1rem;
  height: 95vh;
  flex-wrap: wrap;
}
.intro-title {
  font-size: 3rem;
  border-bottom: 4px solid var(--hover-btm-border);
  line-height: 5rem;
}
.about-me {
  width: 450px;
  text-align: justify;
  line-height: 1.8rem;
  font-size: 1.5rem;
  
}
.contact-links {
  margin-top: 15px;
  color: black;
}
.contact-links > a {
  padding-right: 10px;
  color: black;
}
.fa-brands {
  font-size: 2rem;
}
.fa-xl {
  color: rgb(65, 65, 255);
}
.fa-html5 {
  color: red;
}
.fa-square-js {
  color: orange;
}
.logo-img {
  width: 13%;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.icon-container {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 400px;
  align-items: center;
  margin: 65px auto;
}
.intro-container {
  display: flex;
  gap: 3em;
  margin-top: 1em;
}
.img-border {
  position: relative;

  /* background: blue; */
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-border::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 180%;
  background: var(--img-border);
  animation: animate 4s ease-in-out infinite;
  animation: fade 4s ease-in-out infinite;
}
.img-border::after {
  content: '';
  position: absolute;
  inset: 4px;
  background: white;
  border-radius: 16px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(-360deg);
    background: linear-gradient(#00ccff4a, #d400d429);
  }
}
@keyframes fade {
  0% {
    transform: rotate(0deg);
    background: linear-gradient(#00ccff4a, #d400d429);
  }
  50% {
    transform: rotate(360deg);
  }
  /* 75% {
    transform: rotate(0deg);
  } */
  100% {
    transform: rotate(-360deg);
  }
}
.img-border img {
  position: relative;
  z-index: 10;
  /* border: 3px solid green; */
  width: 17rem;
  height: 26rem;
}
.my-photo {
  width: 50%;
  height: 16rem;
  aspect-ratio: 3/2;
  object-fit: revert;
  border-radius: 10px;
  padding: .2rem;
}
.scroll-down-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll-down-icon > a {
  color: black;
  text-decoration: none;
  font-style: italic;
}

/* ABOUT ME SECTION */
.myself-section {
  display: flex;
  flex-flow: column wrap;
  max-width: 500px;
  font-size: 1.5rem;
  flex-direction: column;
  gap: 1rem;
  line-height: 2rem;
}
#about-me {
  padding-top: 60px;
}
.about-me-img {
  width: 25rem;
  height: 100%;
  border-radius: 50%;
}
.myself-container,
.protifolio-section {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin: 0px auto 400px auto;
  padding: 0 50px 0 50px;
  max-width: 1024px;
}
.protifolio-title {
  padding: 0px 50px 0px 50px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.protifolio-title h3 {
  margin-bottom: 1rem;
}

.subject-title {
  color: var(--hover-btm-border);
}
.subject-description {
  font-size: 1.5rem;
}
.myself-section p::before {
  content: open-quote;
  font-size: 2.5em;
  color: red;
}
.myself-section p::after {
  content: close-quote;
  font-size: 1.5rem;
  color: red;
}

/* PROJECTS SECTION */
.project-img {
  width: 25rem;
  height: 100%;
  border-radius: 20px;
  box-shadow: -20px 20px 20px 0px #d2d2d2;
}
.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  line-height: 2rem;
  font-size: 1.5rem;
  gap: 1rem;
  justify-content: center;
}

/* CONTACT SECTION */
.contact-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0px auto 0px auto;
  padding: 0 50px 80px 50px;
  max-width: 1024px;
}
.programs-used {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.footer-links {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.fa-paper-plane,
.fa-map-location-dot {
  padding: 15px 10px 0px 0px;
  color: var(--hover-btm-border);
}
.email-link {
  color: black;
  text-decoration: none;
}
/* I have set some media querys to adjust for different screen sizes
I have used rem becuase it is a relative size unit for the document font size.
I have used em units at break points to calculat screen size divided by browser font size. */

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 100%;
  }
}

/* 980px / 16px  */
@media (max-width: 61.25em) {
  html {
    font-size: 60%;
  }
  /* .nav-container,
  nav,
  #welcome-section,
  .project-container,
  .contact-container,
  .contact-links,
  .btn {
    font-size: 1rem;
  } */
}

/* 760px / 16px */
@media (max-width: 47.5em) {
  /* .nav-container,
  nav,
  .project-container,
  .project-title,
  .project-tile,
  .contact-container,
  .contact-links {
    font-size: 1rem;
  } */
}

/* 460px / 16px */
@media (max-width: 28.75em) {
  /* .nav-container,
  nav,
  #welcome-section,
  .project-container,
  .project-title,
  .project-tile,
  .contact-container,
  .contact-links,
  .btn {
    font-size: 55%;
  } */
}

/* 400px / 16px */
@media (max-width: 25em) {
  /* .nav-container,
  nav,
  a,
  #welcome-section,
  .project-container,
  .project-title,
  .project-tile,
  .contact-container,
  .contact-links .btn {
    font-size: 1rem;
  } */
}

/* 375px / 16px iPhone 6/7/8/X */
@media (max-width: 23.43em) {
  /* .nav-container,
  nav,
  a,
  #welcome-section,
  .project-container,
  .project-title,
  .project-tile,
  .contact-container,
  .contact-links .btn {
    font-size: 1rem;
  } */
}

/* 360px / 16px Moto G4/Galaxy S5 */
@media (max-width: 23.43em) {
  /* .nav-container,
  nav,
  a,
  #welcome-section,
  .contact-container,
  .contact-links .btn {
    font-size: 1rem;
  } */
}

/* 320px / 16px iPhone 5/SE */
@media (max-width: 22.5em) {
  /* .nav-container,
  nav,
  a,
  #welcome-section,
  .project-container,
  .project-title,
  .project-tile,
  .contact-container,
  .contact-links .btn {
    font-size: 1rem;
  } */
}
